/***********  Author: Dynasty3 ******************/
/***  URL: http://www.dynasty3.co.uk ***********/
/*-------------------------*/


/* ---------- MAX 1024PX ---------- */
@media only screen and (min-width:900px) and (max-width:1118px) {
	
.top-links p {
    font-size: 11px;
}
.fa-mobile {
    right: 249px;
}
.menu_area ul {
    margin-left:0%;
}
ul.dropdown a, ul.dropdown span {
    padding: 8px 16px;
}
ul.dropdown li {
    font-size: 14px;
}
section.banner_area {
    margin-top: 110px;
	height:auto;
}
section.About_us_front {
    min-height: auto;
    padding: 0px 0px 17px 0px;
}
.section_heading3 h1 {
    font-size: 30px;
    line-height: 90px;
}
.social_bookmarks ul li {
    margin-right: 0px;
}
.menu_area ul {
    margin-left:18%;
}
ul.dropdown a{
	margin: 0px 10px;
	}

}

/* ---------- MAX 768PX ---------- */
@media only screen and (min-width:768px) and (max-width:900px) {
.header_top input[type="text"] {
    width:55%;
}
.top-links{
	margin-top: -25px;
	}
.header_top input[type="image"] {
    right: 160px;
}
ul.dropdown li {
    font-size: 14px;
}
ul.dropdown a{
    padding: 8px 20px;
}
.logo_area img {
    /*width:20%;*/
}
.menu_area {
    margin-top: -85px;
    margin-left: 59px;
}
.dnt3-menu{
    background:transparent;
}
section.banner_area {
    margin-top: 110px;
	height:auto;
}
section.About_us_front {
    min-height: auto;
    padding: 0px 0px 17px 0px;
}
.section_heading3 h1 {
    font-size: 30px;
    line-height: 90px;
}
section.services_area {
    min-height: auto;
    padding: 0px 0px 50px 0px;
}
section.wallet_area {
    height: auto;
    background:none;
}
.wallet_content{
	padding-top:15px;
	padding-left:5%;
	padding-right:5%;
	text-align: center;
	}
.wallet_content h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 11px;
}
.wallet_content p {
    text-align: center;
}
.wallet-link {
    width: 115px;
    height:35px;
    text-align: center;
    padding:8px 0px 0px 0px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.wallet-link a {
    font-size: 16px;
}
section.contact_area {
    height: auto;
    padding-top: 5px;
}
.section_heading_contact h1 {
    font-size: 30px;
    line-height: 90px;
}
.bx-wrapper .bx-pager {
       display: none;
}
footer {
    padding-top: 25px;
    padding-bottom:50px;
	height:auto;
}
footer h2 {
    font-size: 15px;
}
.footer_list2 ul li a {
    font-size: 10px;
    line-height: 21px;
}
.footer_list1 ul li {
    font-size: 11px;
}
.social_bookmarks ul li a i {
    font-size: 17px;
    width: 25px;
    height: 25px;
}
.social_bookmarks i.fa-facebook {
    padding: 4px 0px 0px 5px !important;
}
.social_bookmarks i.fa-instagram {
    padding: 3px 0px 0px 3px !important;
}
.carousel-caption {
    bottom: 22px;
}
.carousel-caption h2 {
    font-size: 30px;
}
.social_bookmarks ul li {
    margin-right: 0px;
}
/*===============
	inner pages
	=================*/
.inner_about {
    padding-top: 3px;
    padding-bottom: 0px;
}
.about_img {
    margin-top:60px;
}
.services_image {
    margin-top: 66px;
}
.inner-blog-img img {
    height: auto;
}
.contact-map img{
	width:100%;
	}
section.banner_area_inner_about,section.banner_area_inner_services,section.banner_area_inner_gallery,section.banner_area_inner_blog,section.banner_area_inner_contact {
    margin-top: 111px;
}
.view_inner {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
.menu_area ul {
    margin-left: 20%;
}
.top-links-right p {
    margin-top: -20px;
}
section.like_area{
	height:auto;
	}
.contact input[type="email"]{
	margin-top:24px;
	margin-left:0px;
	height: 40px;
	}
.news-btn{
	margin-top:-10px;
	margin-bottom: 10px;
	height: 40px;
	}
section.like_area h1{
	margin-top:13px;
	font-size: 28px;
	height: 40px;
	}
ul.dropdown a{
	margin: 0px 10px;
	}
.form_area_inner{
	margin-bottom:10px;
	}
.total_event{
	margin-top:20px;
	}
	
.category{
	display:none;}	
	
	
	
	
	
	

}


/* ---------- MAX 580PX ---------- */
@media only screen and (max-width:767px) {
.header_top .input-group {
    width: 80%;
    margin: 0 auto;
}
.header_top input[type="image"] {
    right:18px;
}
.header_top input[type="text"] {
    width: 100%;
}
.top-links a i {
    margin-top: 14px;
    line-height: 27px;
    text-align: center;
	margin-right: 4px;
	color:#fff;
}
.logo_area img {
    /*width:40%;*/
}
.nav {
    margin-top: -48px;
}
.dnt3-menu{
    background: transparent;
}
section.banner_area {
    height: auto;
	margin-top: 185px;
}
section.About_us_front {
    min-height: auto;
    padding: 0px 0px 17px 0px;
}
.section_heading3 h1 {
    font-size: 30px;
    line-height: 90px;
}
section.services_area {
    min-height: auto;
    padding: 0px 0px 50px 0px;
}
section.wallet_area {
    height: auto;
    background:none;
}
.wallet_content{
	padding-top:15px;
	padding-left:5%;
	padding-right:5%;
	text-align: center;
	}
.wallet_content h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 11px;
}
.wallet_content p {
    text-align: center;
}
.wallet-link {
    width: 115px;
    height:35px;
    text-align: center;
    padding:8px 0px 0px 0px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.wallet-link a {
    font-size: 16px;
}
section.contact_area {
    height: auto;
    padding-top: 5px;
}
.section_heading_contact h1 {
    font-size: 30px;
    line-height: 90px;
}
.bx-wrapper .bx-pager {
       display: none;
}
footer {
    padding-top: 25px;
    padding-bottom:50px;
	height:auto;
}
.menu_area ul {
    margin-top:2px;
    margin-left: 0%;
}
ul.dropdown li {
    border-bottom: 1px solid #5A5A5A;
}
ul.dropdown {
    border-top: 4px solid #000;
}
.dnt3-menu ul.dropdown {
    background: #000;
}
.dnt3-menu ul.dropdown li a {
    color: #ffffff;
}
.dnt3-menu ul.dropdown a.active,.dnt3-menu ul.dropdown a:hover{
    background: transparent;
    color: #fff;
}
.display{
	display:none;
	}
.responsive{
	display:block;
	color:#fff;
	}
.top-links p{
	float: left;
    width: 100%;
    text-align: center;
	margin-bottom: 5px;
	}
.fa-mobile {
    position: relative;
    right: 0px;
}
/*=================
	inner
	===============*/
section.banner_area_inner_about {
    width: 100%;
    height:auto;
    margin-top: 183px;
}
.banner_text_inner_about {
    width: 100%;
    height: auto;
   margin-top:0px;
}
.banner_text_inner_about h2 {
    font-size: 25px;
	text-align: center;
}
.banner_text_inner_about p {
    font-size: 13px;
    padding-bottom: 19px;
    text-align: center;
}
.inner_about {
    padding-top: 0px;
}
.about_img {
    margin-top: -54px;
}
section.banner_area_inner_services {
    height: auto;
    margin-top: 183px;
}
.banner_text_inner_services {
    width: 100%;
    height: auto;
    margin-top: 0px;
}
.banner_text_inner_services h2 {
    font-size: 25px;
	text-align:center;
}
.banner_text_inner_services p {
    font-size: 13px;
    padding-bottom: 10px;
	text-align:center;
}
.services_image {
    margin-top: -43px;
}
section.banner_area_inner_gallery {
    height: auto;
    margin-top: 183px;
}
.banner_text_inner_gallery {
    width: 100%;
    height: auto;
    margin-top: 0px;
}
.banner_text_inner_gallery h2 {
    font-size: 25px;
	text-align:center;
}
.banner_text_inner_gallery p {
    font-size: 13px;
    padding-bottom: 10px;
	text-align:center;
}
.inner-retail {
    margin-top: 33px;
}
section.banner_area_inner_blog {
    height: auto;
    margin-top: 183px;
}
.banner_text_inner_blog {
    width: 100%;
    height: auto;
    margin-top: 0px;
}
.banner_text_inner_blog h2 {
    font-size: 25px;
	text-align:center;
}
.banner_text_inner_blog p {
    font-size: 13px;
    padding-bottom: 10px;
	text-align:center;
}
.sidebar_blog {
    margin-top: 6px;
    float: left;
    width: 100%;
	margin-bottom: 20px;
}
.margin {
    margin-top: 14px;
}
.padding {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
section.banner_area_inner_iblog {
    height: auto;
    margin-top: 183px;
}
.banner_text_inner_iblog {
    width: 100%;
    height: auto;
    margin-top: 0px;
}
.banner_text_inner_iblog h2 {
    font-size: 25px;
	text-align:center;
}
.banner_text_inner_iblog p {
    font-size: 13px;
    padding-bottom: 10px;
	text-align:center;
}
.full-blog-details {
    margin-top: -99px;
}
.blog-inner-details2 {
    margin-top: 10px;
}
section.banner_area_inner_contact {
    height: auto;
    margin-top: 183px;
}
.banner_text_inner_contact {
    width: 100%;
    height: auto;
    margin-top: 0px;
}
.banner_text_inner_contact h2 {
    font-size: 25px;
	text-align:center;
}
.banner_text_inner_contact p {
    font-size: 13px;
    padding-bottom: 10px;
	text-align:center;
}
.contact_area_contact{
	padding-top:10px;
    padding-bottom:0px;
	}
.contact-map img{
	width:100%;
	}
.fancybox-opened{
	top:300px;
	}
.view_inner {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
.view {
	margin-top:50px;
	}
.section.like_area{
	height:auto;
	}
.contact input[type="email"] {
    width: 100%;
    height: 40px;
    margin-left: 0px;
    margin-top: 18px;
}
section.like_area{
	height:auto;
	}
section.like_area h1 {
    font-size: 19px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 9px;
}
.news-btn {
    height: 40px;
    margin-top: 26px;
	margin-bottom:15px;
}
.mobile-margin{
	margin-top:-46px;
	}
.section_heading_like p {
	font-size:12px;
	}
.contact-book ul li b{
	margin-top:20px;
	}
.pad_about{
	padding-left:15px;
	padding-right:15px;
	}
.inner_about{
	padding-top:20px;
	}
.banner_text_inner_about h2{
	margin-top:35px;
	}
.full-event img {
    margin-bottom: 14px;
}
.single_event_details img{
	width:100%;
	}
.photo_gallery {
	margin-left:0px;
	}



}